.cms-container__content__header {
  background-color: #6b6b6b;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 8px;
  height: 64px;
}

.cms-container__content__header__content__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cms-container__content__header__content__ul__li a {
  text-decoration-color: transparent;
  color: white;
  background-color: #494949;
  padding: 0px 24px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 48px;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}

.cms-container__content__header__content__ul__li a:hover {
  background-color: #3a3a3a;
}

.cms-container__content__main {
  display: flex;
}

.cms-container__content__main__col1 {
  min-height: 100vh;
  width: 100%;
  max-width: 400px;
  padding: 64px 8px 0px 8px;
  margin-top: -64px;
  background-color: #f1f1f1;
}

.cms-container__content__main__col1__title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  color: #5c5c5c;
  padding: 24px 0 16px 0;
}

.cms-container__content__main__col1__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cms-container__content__main__col1__ul__li a {
  display: flex;
  background-color: #5085ff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  padding: 8px 12px;
  border-radius: 0.5rem;
  text-decoration-color: transparent;
  color: white;
}

.cms-container__content__main__col1__ul__li a:hover {
  background-color: #326fff;
  color: white;
}

.cms-container__content__main__col2 {
  padding: 32px;
  width: 100%;
}

.cms-container__content__main__col2 .cms-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #5c5c5c;
  margin-bottom: 16px;
}

.cms-container__content__main__col2 form .form__row {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  max-width: 992px;
}

.cms-container__content__main__col2 form .form__row .cms-title-element {
  width: 100%;
  max-width: 488px;
  background-color: #e4e4e4;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: black;
  padding: 6px 16px;
  text-align: right;
  border-radius: 0.5rem;
}

.cms-container__content__main__col2 form .form__row input, .cms-container__content__main__col2 form .form__row select {
  width: 100%;
  max-width: 488px;
  border: 1px solid #e4e4e4;
  padding: 0 16px;
  border-radius: 0.5rem;
}

.file {
  padding: 0 0px !important;
}

::-webkit-file-upload-button {
  background: #dfdfdf;
  cursor: pointer;
  border: 0px none transparent;
  padding: 0.6em;
}

/* Structure title */
.cms-structure-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  margin-bottom: 0;
  padding: 8px 16px;
  background-color: #6b6b6b;
}

/* Button */
.cms-new, .form__button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  text-decoration-color: transparent;
  color: white;
  background-color: #5085ff;
  padding: 8px 12px;
  border-radius: 0.5rem;
  border: 0px none transparent;
  cursor: pointer;
}

.cms-new:hover, .form__button:hover {
  background-color: #326fff;
  color: white;
}
