@import '_mixins';

/* framework */

.width-100{
    width: 100%;
    max-width: 100%;
}

.width-1{
    width: 1232px;
    max-width: 1232px;
}

.block{
    margin: 0 auto!important;
}

.column{
    width: 100%;
}

/**/

body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-size-adjust: none;
    font-family: "Poppins";
    font-size: 16px;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    transition: padding .5s linear;
}

.container{
    overflow: hidden
}

// Nagłówek
header{
    @include flex-center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    // header info
    & .header-data{
        padding: 8px 0;
        background-color: black;
        @include flex-center;
        &__container{
            @include display-flex(space-between, center, row, nowrap);
            &__datas{
                @include font-poppins(14px, 300, 20px, white);
                @include display-flex(flex-start, center, row, nowrap);
                & span{
                    padding: 0 16px;
                    display: flex;
                    align-items: center;
                    &:first-child:before{
                        content: url(../graphic/ikona-telefon.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 8px;
                        margin-bottom: -4px;
                        filter: brightness(0) saturate(100%) invert(35%) sepia(38%) saturate(5125%) hue-rotate(213deg) brightness(97%) contrast(93%);
                    }
                    &:last-child:before{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 8px;
                        margin-bottom: -4px;
                        content: url(../graphic/ikona-mail.png);
                        filter: brightness(0) saturate(100%) invert(35%) sepia(38%) saturate(5125%) hue-rotate(213deg) brightness(97%) contrast(93%);
                    }
                }
            }
            &__social{
                @include display-flex(flex-start, center, row, nowrap);
                gap: 16px;
                & a{
                    @include display-flex(center, center, row, nowrap);
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    // header menu
    & .sticky{
        position: fixed!important;
        top: 0px!important;
    }
    & .header-main{
        z-index: 99;
        position: absolute;
        top: 36px;
        @include flex-center;
        background-color: white;
        box-shadow: 2px 2px 30px #0000001c;
        height: 112px;
        &__container{
            @include display-flex(space-between, center, row, nowrap);
            display: flex;
            &__logo{
                & a{
                    & img{
                        max-height: 90px;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
            &__menu{
                &__menu-top-1-level{
                    @include reset-list;
                    @include display-flex(flex-end, center, row, nowrap);
                    gap: 48px;
                    & li{
                        & a{
                            @include reset-link(black);
                            @include font-poppins(16px, 700, 24px, black);
                            text-transform: uppercase;
                            padding: 16px 0;
                            position: relative;
                            &:after{
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0%;
                                height: 2px;
                                background-color: #2f6aef;
                                @include transition;
                            }
                            &:hover:after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Mapa */
.map{
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        width: 400px;
        text-align: center;
        padding: 24px;
        background-color: #3f79ff;
        position: absolute;
        @include font-poppins(24px, 700, 24px, white);
        border-radius: 1.5rem;
        top: -40px;
    }
    & iframe{
        width: 100%;
        height: 100%;
    }
}
/* Stopka */
.footer{
    background-image: url(../graphic/stopka.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    &__container{
        padding: 100px 0;
        @include display-flex(center, flex-start, row, nowrap);
        color: white;
        &__column{
            &__h2{
                font-size: 20px;
                position: relative;
            }
            &__text{
                & p{
                    font-size: 14px;
                    margin: 6px 0;
                }
            }
        }
        & .column1{
            & h2:before{
                content: url(../graphic/ikona-telefon.png);
                position: absolute;
                top: 2px;
                left: -32px;
            }
        }
        & .column2{
            & h2:before{
                content: url(../graphic/ikona-zegar.png);
                position: absolute;
                top: 2px;
                left: -32px;
            }
        }
        & .column3{
            & h2:before{
                content: url(../graphic/ikona-marker.png);
                position: absolute;
                top: 2px;
                left: -32px;
            }
        }
    }
    &__bottom{
        background-color: black;
        @include font-poppins(14px, 300, 24px, white);
        &__container{
            &__project{
                @include display-flex(flex-start, center, row, nowrap);
                gap: 32px;
                & a{
                    @include reset-link(white);
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}