@import '_mixins';

.structure-table{
    width: 100%;
    & thead{
        margin-bottom: 16px;
        & tr{
            & th{
                width: 100%;
                @include font-poppins(16px, 400, 24px, white);
                background-color: #5085ff;
                text-align: center;
                
            }
        }
    }
}


/* Edytor */
.tox-tinymce{
    width: 100%;
}

.cms-img-container{
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    padding: 16px 0px;
    border-radius: 0.5rem;
    margin-bottom: 8px;
}